.emptyParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img {
    // float: left;
    margin-top: 200px;
    width:  100px;
    height: 100px;
    object-fit: cover;
  }

  .title {
    width: 250px;
    height: 70px;
  }

  .para {
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 2px solid #c9c9c9;
  }
}
