.errorParent {

    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .img {
      width: 60%;
      height: 70%;
    }
  
    .title {
      width: 250px;
      height:70px;
    }
  
  }
  